.main-form {
  font-family: monserrat-light;
  font-size: 1.1em;
}

.main-form > h4 {
  font-family: caveat;
  font-size: 1.7em;
}

form {
  margin-left: 1em; 
  padding: 1em;
}

.form-title {
  font-size: 2em;
  margin-top: 10em;
}

input {
  margin: 2px;
}

label {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 5px;
  margin: 2px;
}

.btns-row {
  margin-top: 1em;
  margin-bottom: 0.5em;
  float: left;
}

